.container {
  transition: height ease-out 200ms;
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  background-color: rgb(235, 235, 235);
  .menuWrapper {
    transition: transform ease-out 300ms, opacity linear 500ms;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    row-gap: 20px;
    margin-top: 60px;
    a {
      text-decoration: none;
      color: black;
      font-weight: 500;
    }
  }
}
