.container {
  max-width: 1536px;
  margin: auto;
}

.banner {
  display: flex;
  align-items: center;
  position: relative;
  height: 35vh;
  background-color: #0265a1;
  overflow: hidden;
  margin: 60px 0 0;
  padding: 16px 24px;
  h1,
  p {
    color: white;
  }
}

.bannerOverlay {
  z-index: 1;
  background: #032e48bf;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  height: 100%;
  width: 100%;

  a {
    text-decoration: none;
    color: var(--primaryColor);
    font-weight: bold;
    font-size: 14px;
    width: 300px;
    height: 40px;
    background-color: white;
    border: none;
    padding: 8px;
    display: block;
    text-align: center;
    border-radius: 4px;
    margin: 40px 0;

    &:hover {
      background-color: lightgray;
    }
  }
}

.contentWrapper {
  margin: 20px 0;

  h2 {
    padding: 8px;
  }

  .projectCardWrapper {
    width: 100%;
    display: inline-block;
    padding: 8px;
    vertical-align: top;
  }
}

.contentWrapper > p {
  text-align: justify;
}

@media screen and (min-width: 768px) {
  .banner {
    height: 30vh;
  }
  .bannerOverlay {
    padding: 20px;
  }
  .contentWrapper {
    .projectCardWrapper {
      width: 50%;
    }
  }
}

@media screen and (min-width: 1024px) {
  .contentWrapper {
    .projectCardWrapper {
      width: 33.333%;
    }
  }
}
