.search {
  width: 95%;
  margin: 32px auto 24px;
  display: block;
  height: 50px;
  padding: 0 14px;
  border: 1px solid lightgray;
  outline: none;
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .search {
    width: 80%;
  }
}
